athena_simulation/Turb.hst
faradays_angles_stats/cube.h5
faradays_angles_stats/lp_structure_tests/ms01ma08.mhd_w.00300.vtk.h5
faradays_angles_stats/lp_structure_tests/synthetic_kolmogorov.h5
synthetic_kolmogorov.h5
faradays_angles_stats/lp_structure_tests/synthetic_powerbox.h5
faradays_angles_stats/lp_structure_tests/synthetic_tuned.h5
faradays_angles_stats/lp_structure_tests/synthetic_kolmogorov_nz.h5
faradays_angles_stats/lp_structure_tests/synthetic_kolmogorov_bz_nz.h5
faradays_angles_stats/lp_structure_tests/synthetic_kolmogorov_normal.h5
faradays_angles_stats/lp_structure_tests/synthetic_kolmogorov_bz.h5
*.h5
*.vtk
frame_*.npz
*seed1.npz
frame_*.png
[0-9][0-9][0-9][0-9].png
[0-9][0-9][0-9][0-9].pdf
directional_spectrum/direct_fft1/screens_cube.npz
